<header>
  <link href="https://fonts.googleapis.com/css?family=Roboto:900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
</header>
<div class="bodyNav">
<ul class="nav nav-tabs">
  <li id = "siteLogo">
    <p>  <img src="./assets/redditIcon.png">Reddit</p>
  </li>

  <li class="active siteGuide">
    <a href="#tab1" data-toggle="tab">Best</a>
  </li>
  <li class="siteGuide">
    <a href="#tab2" data-toggle="tab">Hot</a>
  </li>
  <li class="siteGuide">
    <a href="#tab3" data-toggle="tab">New</a>
  </li>
  <li class="siteGuide">
    <a href="#tab4" data-toggle="tab">Rising</a>
  </li>
  <li class="siteGuide">
    <a href="#tab4" data-toggle="tab">Controversial</a>
  </li>
  <li class="siteGuide">
    <a href="#tab4" data-toggle="tab">Top</a>
  </li>
  <li class="siteGuide">
    <a href="#tab4" data-toggle="tab">Gilded</a>
  </li>
  <li class="siteGuide">
    <a href="#tab4" data-toggle="tab">Wiki</a>
  </li>
  <li class="siteGuide">
    <a href="#tab4" data-toggle="tab">Show Images</a>
  </li>
  <li class="siteTopRight">
    <a href="#tab4" data-toggle="tab">UserName</a>
  </li>
  <li class="siteTopRight">
    <a href="#tab4" data-toggle="tab"><img src="./assets/redditLogo.png"></a>
  </li>
  <li class="siteTopRight">
    <a href="#tab4" data-toggle="tab">(postKarma - CommentKarma)</a>
  </li>
  <li class="siteTopRight">
    <a href="#tab4" data-toggle="tab">|<img src="./assets/mail.png"> |</a>
  </li>
  <li class="siteTopRight">
    <a href="#tab4" data-toggle="tab"><img src="./assets/message.png">|</a>
  </li>
  <li class="siteTopRight">
    <a href="#tab4" data-toggle="tab"><img src="./assets/settings.png">|</a>
  </li>
  <li class="siteTopRight">
    <a href="#tab4" data-toggle="tab">logout</a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="tab1">
    <p>Tab 1 content goes here...</p>
  </div>
  <div class="tab-pane" id="tab2">
    <p>Tab 2 content goes here...</p>
  </div>
  <div class="tab-pane" id="tab3">
    <p>Tab 3 content goes here...</p>
  </div>
  <div class="tab-pane" id="tab4">
    <p>Tab 4 content goes here...</p>
  </div>

</div>
<!-- Bootstrap core JavaScript
  ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</div>


