.bodyNav
{
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.42857;

}
#siteLogo img{
  width: 30px;
  height: 30px;
}

p  /*Personalizado Bootstrap*/
{
  font-size: 15px;
  font-style: normal;
  font-weight: bolder;
  color: #333333;
  line-height: 1.42857;
}
ul, ol /*Padrão Bootstrap*/
{
  margin-top: -10px;
  margin-bottom: 10px;
  margin-left: -8px;
  margin-right: -8px;
}
.nav /*Padrão Bootstrap*/
{
  padding-left: 0px;
  margin-bottom: 0px;
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
}
.nav,
.nav-tabs {
  background-color: #b2d8ff;

  height: 70px;
  color: white;
}
.nav-tabs > li
{
  float: left;
  margin-bottom: -1px;
}
nav,
.nav-tabs > li > a {
  font-weight: bolder;
  color: #238eff;
  text-decoration-line: none;
  position: relative;
  display: block;
  padding-top: 1px;
  padding-right: 4px;
  padding-bottom: 1px;
  padding-left: 4px;
}

nav,
.nav-tabs > li.active a,
nav,
.nav-tabs > li.active a:hover,
nav,
.nav-tabs > li.active a:focus {
  background-color: #d6eaff;
  color: #238eff;
  font-weight: bolder;
  text-decoration-line: none;
}
.tab-content {
  color: white;
  background-color: #e6e6e6;
  padding: 5px 15px;
}
.tab-content > .tab-pane /*Padrão Bootstrap*/
{
  display: none;
}
.tab-content > .active /*Padrão Bootstrap*/
{
  display: block;
}
li.active a:before{
  border-color: #0257b5 transparent transparent transparent;
  border-style: solid;
  border-width: 10px 10px 0px 10px;
  content: "";
  display: block;
  left: calc(50% - 10px);
  position: absolute;
  width: 0px;
  top: 70px;
  z-index: 10;
}

.siteGuide{
  font-size: 11px;
  margin-top: 54px;
  margin-left: 2%;
}
